- render_region :main do |main|
  - main.edit_header do
    - if @location.new_record?
      %h1 New Location
    - else
      %h1 Edit Location
  - main.edit_form do
    - form_tag admin_location_path(@location), :method => :put do
      = hidden_field 'location', 'lock_version'
      = render_region :form_top
      %table.fieldset{:cellpadding=>0, :cellspacing=>0, :border=>0}
        - render_region :form do |form|
          - # supress messages about missing partials
          - [:edit_group, :edit_website_url, :edit_page_path, :edit_latitude, :edit_longitude, :edit_manual_geocode].each do |method|
            - form.send(method) {}
          - form.edit_title do
            %tr
              %th.label
                %label{:for=>"location_name"} Name
              %td.field
                = text_field "location", "name", :class => 'textbox', :maxlength => 100 
              %td.help Required.
          - form.edit_full_address do
            %tr
              %th.label
                %label{:for=>"location_full_address"} Street Address
              %td.field
                = text_field "location", "full_address", :class => 'textbox', :maxlength => 100 
              %td.help Required. Full street address.  Example: "8 Bowers Rd, Derry, NH 03038"
          - form.edit_phone do
            %tr
              %th.label
                %label{:for=>"location_phone"} Phone #
              %td.field
                = text_field "location", "phone", :class => 'textbox', :maxlength => 100
              %td.help Phone number for customers to call (for store hours, etc).
      - render_region :form_bottom do |form_bottom|
        - form_bottom.edit_timestamp do
          = updated_stamp @location  
        - form_bottom.edit_buttons do
          %p.buttons
            = save_model_button(@location)
            = save_model_and_continue_editing_button(@location)
            or 
            = link_to "Cancel",  admin_locations_url
    
